body > main[modal=true] {
    overflow: hidden;
    & > section#content{
        filter: blur(2px);
        transition: 1s ease filter;
    }
    & > section#modal{
        opacity: 1;
        pointer-events: auto;
        
        & > div.modal--content {
            top: 0;
        }
    }
}

body > main {

    & > section#modal {
        opacity: 0;
        position: fixed;
        display: block;
        pointer-events: none;
        transition: 500ms ease opacity;

        left: 0;
        top: 0;
        bottom: 0;
        right: 0;

        background-color: rgba(0,0,0,0.8);
        z-index: 1000;

        & > div.modal--content {
            position: relative;
            transition: 500ms ease top;
            top: -100%;

            display: grid;
            width: min-content;
            height: auto;

            grid-auto-flow: row;
            grid-gap: 0.25em;

            background-color: #ffe88c;
            color: #00f;
            margin: auto;
            padding: 1em;
            box-shadow: 0px 0px 5px #000a;
            font-family: 'OTexta Regular';

            & p {
                font-size: 0.8em;
                display: block;
                padding: 0.2em 0;
            }

            & > button,
            & input {
                padding: 0.4em 0.6em;
            }

            & > button {
                cursor: pointer;

                &.ok {
                    background: #111;
                    color: yellow;
                }
                &.cancel {
                   
                }
            }
        }
    }
}