view-layer#modal.visible + view-layer#content{
    filter: blur(2px);
    transition: 1s ease filter;
}
view-layer#modal.visible{
    opacity: 1;
    pointer-events: auto;
    
    & > fieldset.modal--content {
        transition: 500ms ease top;
        top: 0;
    }
}

view-layer#modal {
    opacity: 0;
    position: fixed;
    display: block;
    pointer-events: none;
    transition: 500ms ease opacity;

    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(125, 98, 98, 0.9);
    z-index: 1000;

    & > fieldset.modal--content {
        position: relative;
        transition: 500ms ease top;
        top: -100%;
        border-style: none;
    }
}
